{% extends "./base.html" %}

{% load static %}


{% block content %}


<style>
    .home-logo {
    background-color: #000000; /* Kolor tła sekcji */
    position: relative; /* Pozycjonowanie sekcji, pozwala na pozycjonowanie wewnętrznych elementów */
    width: 100%; /* Szerokość sekcji */
    height: 1200px; /* Wysokość sekcji */
}

    .home-logo img {
    position: absolute; /* Pozycjonowanie obrazu względem sekcji */
    top: 50%; /* Pozycja w pionie na środku */
    left: 50%; /* Pozycja w poziomie na środku */
    transform: translate(-50%, -50%); /* Przemieszczenie obrazu o 50% w górę i w lewo, aby idealnie go wyśrodkować */
    width: 1050px; /* Szerokość obrazu */
    height: auto; /* Automatyczna wysokość, aby zachować proporcje */
    
}


    .home-merch {
    background-color: #ffffff; /* Kolor tła sekcji */
    position: relative; /* Pozycjonowanie sekcji, pozwala na pozycjonowanie wewnętrznych elementów */
    width: 100%; /* Szerokość sekcji */
    height: 800px; /* Wysokość sekcji */
}

    .home-merch img {
    position: absolute; /* Pozycjonowanie obrazu względem sekcji */
    top: 50%; /* Pozycja w pionie na środku */
    left: 50%; /* Pozycja w poziomie na środku */
    transform: translate(-50%, -50%); /* Przemieszczenie obrazu o 50% w górę i w lewo, aby idealnie go wyśrodkować */
    width: 750px; /* Szerokość obrazu */
    height: auto; /* Automatyczna wysokość, aby zachować proporcje */
}


    .home-music {
    background-color: #000000; /* Kolor tła sekcji */
    position: relative; /* Pozycjonowanie sekcji, pozwala na pozycjonowanie wewnętrznych elementów */
    width: 100%; /* Szerokość sekcji */
    height: 600px; /* Wysokość sekcji */
}

</style>

<section class="home-logo">

    <div class="row py-lg-5">
    
        <div class="col-lg-6 col-md-8 mx-auto">
            

    
            <a href="#">
                <img src="../static/media/images/logo.jpg" alt="Logo"> 
            </a>
            
            
            
            
        </div>
    
    </div>


</section>

<section class="home-merch">

    <div class="row py-lg-5">
    
        <div class="col-lg-6 col-md-8 mx-auto">
            <!-- <div class="pb-3 h5"> SHIMMERFALL MERCH </div> -->

    
            <a href="store">
                <img src="../static/media/images/merch.png" alt="Merch">
            </a>    
            
        </div>
    
    </div>


</section>



<section class="home-music">

    <div class="row py-lg-5">
    
        <div class="col-lg-6 col-md-8 mx-auto">
            <div class="pb-3 h5">  </div>

            <iframe width="560" height="415" src="https://www.youtube.com/embed/2Od8m0TOMlg?si=N23hUqAIXa2cOhpa" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                   
        </div>
    
    </div>


</section>

{% endblock %}






